*{
    margin:0%;
    box-sizing: border;

}
html,body {
    width: 100%;

}
.{
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://i.pinimg.com/736x/86/cc/0d/86cc0d146f095b97303a53aba7534aed.jpg");
    background-position: center;
    background-size: cover;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    width: 300px;
    height: 350px;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input{
    padding: 8px 6px;
    border: none;
    border-radius: 10px;
}

.if{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.if button{
    padding: 12px 6px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 17px;
}

.if a{
    font-size: 13px;
    color: white;
}

.CA{
    padding: 12px 6px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-size: 17px;
    color: white;
}

.heading{
    color: red;
}